@import "tailwindcss";

:root {
  --PURPLE: #4634e6;
  --BLUE: #006cc4;
  --BLACK: #000;
  --WHITE: #fff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: url("/linearbg.png");
  background-size: cover;
  color: var(--BLACK);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
